<html>
<head>
	<meta charset="utf-8">
	<title>教师个人信息</title>
	<link href="teacher.css" rel="stylesheet" type="text/css" />
</head>
<style>


</style>
<body>
<div id="center">
	<form> 
         <span id="title">教师个人信息</span>
		 <br>
	     <table cellspacing="0">
		<tbody>
		   <tr>
		      <td><label>教师工号: <input type="text" name="Id"></label></td>
		      <td><label>姓名: <input type="text" name="Name"></label></td>
              <td><label>性别: <input type="text" name="Sex"></label></td>
		   </tr>
	       <tr>
		      <td><label>授课科目: <input type="text" name="Subject"></label></td>
		      <td><label>学历: <input type="text" name="Education"></label></td>
              <td><label>出生日期: <input type="text" name="Birthday"></label></td>
		   </tr>
		   <tr>
		      <td><label>民族: <input type="text" name="Nation"></label></td>
		      <td><label>籍贯: <input type="text" name="NativePlace"></label></td>
              <td><label>职称: <input type="text" name="ProfessionalTitle"></label></td>
		   </tr>
		   <tr>
		      <td><label>证件类型: <input type="text" name="DcoumentTpye"></label></td>
		      <td class="NewWidth1"><label>证件号码: <input class="inputlong" type="text" name="DcoumentNumber"></label></td>
		   </tr>
		   <tr>
		      <td><label>政治面貌: <input type="text" name="PoliticalStatus"></label></td>
		      <td><label>是否退休: <input type="text" name="IsRetire"></label></td>
		   </tr>
		   <tr>
		      <td class="NewWidth2"><label>教师联系方式: <input class="inputlong" type="text" name="PhoneNumberOfTeacher"></label></td>
		   </tr>
		   <tr>
		      <td class="NewWidth2"><label>家庭详细地址: <input class="inputlong" type="text" name="HomeAddress"></label></td>
		   </tr>
		   <tr>
		      <td class="NewWidth2"><label>备注: <input class="inputlong" type="text" name="Rmarks"></label></td>
		   </tr>
		</tbody>
	     </table>
		 <div id="btn" method="">
				<input type="button" class="btn1" id="login" value="重&nbsp;&nbsp;置">
				<input type="submit" class="btn2" id="login" value="提&nbsp;&nbsp;交">
		 </div>
	</form>
	</div>
</body>
</html>