<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanlun.dao.StudentDao">

    <resultMap id="BeanResultMap" type="com.fanlun.bean.Student">
        <id column="sno" property="sno" jdbcType="INTEGER"/>
        <result column="sn" property="sn" jdbcType="VARCHAR"/>
        <result column="enroll" property="enroll" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="All_Column">
        sno, sn, enroll, gender, password
    </sql>

    <select id="studentCount" resultType="java.lang.Integer">
        SELECT count(*) AS total FROM s
    </select>

</mapper>